.main__card_heart {
    position: absolute;
    top: 312px;
    left: 240px;
}

.main__card_heart:hover {
    opacity: 0.800000011920929;
}

.blackHeart {
    background: url(../../../img/Union.svg);
}
